/* Color Variables */
$white: #FFFFFF;
$black: #000000;
$dark-grey: #1C1E1F;

$grey-border: #E1E8ED;
$grey-bg-1: #F4F8FA;
$grey-bg: #657786;

$dark-blue: #1B31A8;
$light-blue: #0079FF;

$error-red: rgb(244, 62, 62);


/* Fonts */
$main-typeface: 'Work Sans', normal;

$break-s: 360px;
$break-m: 600px;
$break-l: 1200px;


