<!-- Header -->
<header>
  <div>
    <img src="" alt="Origin Logo">
  </div>
</header>


<main>
  <!-- Main -->
  <h1>Let's plan your <span>saving goal</span></h1>

  <!-- Goal card -->
  <div>
    <img src="" alt="">
    <h2>Buy a house</h2>
    <sub>Saving goal</sub>

    <form>
      <!-- Total Amount -->
      <div>
        <label for="input-total-amount">Total amount</label>
        <div>
          <div></div>
          <input type="number" id="input-total-amount">
          <div></div>
        </div>
      </div>

      <!-- Reach goal by -->
      <div>
        <label for="input-goal-date">Reach goal by</label>
        <div>
          <div>
            <img src="" alt="">
          </div>
          <input type="text" id="input-goal-date">
        </div>

      </div>

      <div>
        <div>
          <p>Monthly amount</p>
          <p>$521</p>
        </div>
        <div>
          You’re planning 48 monthly deposits to reach your $25,000 goal by October 2020.
        </div>
      </div>
      <button type="submit">Confirm</button>
    </form>
  </div>

</main>
