<!-- Header -->
<header>
  <div class="logo">
    <img src="../assets/images/ic_logo.svg" alt="Origin Logo" id="icon-header">
  </div>
</header>


<main>
  <!-- Main -->
  <h1 class="title">Let's plan your <span class="title title--bold">saving goal.</span></h1>
  <!-- Goal card -->
  <div class="white-card-wrapper">
    <div class="white-card">
      <img src="../assets/images/ic_insurance.svg" alt="Grey house with coin">
      <h2 class="form-title">Buy a house</h2>
      <p class="form-subtitle">Saving goal</p>
      <app-installments-form></app-installments-form>
    </div>
  </div>
</main>
